#throws
  %h1.text-appear.text-appear-you= "You: #{@player_throw.capitalize}"
  %h1.text-appear.text-appear-computer= "Computer: #{@computer_throw.capitalize}"

%h1.text-appear.text-appear-message= @message

#try-again
  %h1.text-appear.text-appear-try-again
    %a.animate{:href => '/'}
      Try again